@import "styles/theme";

.content {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 40px;
  }

  button {
    background-color: $third-color;
    color: $text-color;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    img{
      width: 60%;
    }

    &:hover {
      background-color: $secondary-color;
      transform: scale(1.1);
    }
  }
}